system/system/system_ext/app/AmazonWebView/AmazonWebView.apk
system/system/system_ext/priv-app/com.amazon.windowshop/com.amazon.windowshop.apk
system/system/system_ext/priv-app/com.amazon.kindle/com.amazon.kindle.apk
system/system/system_ext/priv-app/com.amazon.alexa.multimodal.gemini/com.amazon.alexa.multimodal.gemini.apk
system/system/system_ext/priv-app/com.amazon.mp3/com.amazon.mp3.apk
system/system/system_ext/priv-app/com.amazon.cloud9/com.amazon.cloud9.apk
fs_config_dirs
fs_config_files
