system/system/system_ext/priv-app/com.amazon.cloud9/com.amazon.cloud9.apk
system/system/system_ext/priv-app/com.amazon.kindle/com.amazon.kindle.apk
system/system/system_ext/priv-app/com.amazon.dee.app/com.amazon.dee.app.apk
system/system/system_ext/priv-app/com.amazon.mp3/com.amazon.mp3.apk
system/system/system_ext/app/AmazonWebView/AmazonWebView.apk
fs_config_dirs
fs_config_files
